.vscode
.DS_Store
build
dist
.ipynb_checkpoints/
*.so
*.pyc
*.txt
dependency_links.txt
PKG-INFO
SOURCES.txt
top_level.txt
mprofile_*.dat
.project
.pydevproject
.settings
.eggs
.python-version
.pymon
.cache
*.dylib
