.vscode
.DS_Store
build
dist
.ipynb_checkpoints/
*.so
*.pyc
*.txt
dependency_links.txt
PKG-INFO
SOURCES.txt
top_level.txt
mprofile_20210520051136.dat
.project
.pydevproject
.settings

sparse_dot_topn/sparse.cpp
sparse_dot_topn.egg-info
sparse_dot_topn/sparse_dot_topn.cpp